div.crud-form {
    padding-right: 1em;
    margin-bottom: 2em;
}

div.crud-form div.action {
    display: inline;
    margin-right: 1em;
}

div.crud-form table {
    margin-bottom: 1em;
}

div.crud-form table td {
    padding: 0.5em;
}

div.crud-form td.error {
    background-color: #FFDDCC;
}

div.crud-form td.error div.error {
    border-width: 0;
    margin: 0;
    padding: 0.2em;
    font-weight: bold;
}

.collector-form .subform {
    margin: 0 0 1em 1.5em;
    padding: 1em;
    border: 1px dotted black;
}

.collector-form .subform-level-1 { 
    margin-left: 0;
    border: none;
}

.deleteform, .moveform {
    margin-left: 2em;
}

.moveform {
    margin-bottom: 2em;
}


.link-subscribers {
    background-image: url(group.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}

